<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>Controllers.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>Controllers.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupControl</servlet-name>
        <servlet-class>Controllers.SignupControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditControl</servlet-name>
        <servlet-class>Controllers.EditControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistrictServlet</servlet-name>
        <servlet-class>Controllers.DistrictServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WardServlet</servlet-name>
        <servlet-class>Controllers.WardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditImgControl</servlet-name>
        <servlet-class>Controllers.EditImgControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutControl</servlet-name>
        <servlet-class>Controllers.LogOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDBStd</servlet-name>
        <servlet-class>Controllers.LoadDBStd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestControl</servlet-name>
        <servlet-class>Controllers.RequestControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControl</servlet-name>
        <servlet-class>Controllers.DetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelRequestControl</servlet-name>
        <servlet-class>Controllers.CancelRequestControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptControl</servlet-name>
        <servlet-class>Controllers.AcceptControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadMultiPart</servlet-name>
        <servlet-class>Controllers.UploadMultiPart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminControl</servlet-name>
        <servlet-class>Controllers.AdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordControl</servlet-name>
        <servlet-class>Controllers.PasswordControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>Controllers.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadRequest</servlet-name>
        <servlet-class>Controllers.UploadRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControl</servlet-name>
        <servlet-class>Controllers.SearchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceivedControl</servlet-name>
        <servlet-class>Controllers.ReceivedControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailReceived</servlet-name>
        <servlet-class>Controllers.DetailReceived</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DenyControl</servlet-name>
        <servlet-class>Controllers.DenyControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyRequest</servlet-name>
        <servlet-class>Controllers.MyRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRequest</servlet-name>
        <servlet-class>Controllers.DeleteRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRequest</servlet-name>
        <servlet-class>Controllers.EditRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyClass</servlet-name>
        <servlet-class>Controllers.VerifyClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassControl</servlet-name>
        <servlet-class>Controllers.ClassControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndClass</servlet-name>
        <servlet-class>Controllers.EndClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEndClass</servlet-name>
        <servlet-class>Controllers.VerifyEndClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadClasses</servlet-name>
        <servlet-class>Controllers.LoadClasses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAccount</servlet-name>
        <servlet-class>Controllers.LoadAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailAccount</servlet-name>
        <servlet-class>Controllers.DetailAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>Controllers.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassDetail</servlet-name>
        <servlet-class>Controllers.ClassDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/LoginControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/HomeControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupControl</servlet-name>
        <url-pattern>/SignupControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditControl</servlet-name>
        <url-pattern>/EditControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistrictServlet</servlet-name>
        <url-pattern>/DistrictServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WardServlet</servlet-name>
        <url-pattern>/WardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditImgControl</servlet-name>
        <url-pattern>/EditImgControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutControl</servlet-name>
        <url-pattern>/LogOutControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDBStd</servlet-name>
        <url-pattern>/LoadDBStd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestControl</servlet-name>
        <url-pattern>/RequestControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControl</servlet-name>
        <url-pattern>/DetailControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelRequestControl</servlet-name>
        <url-pattern>/CancelRequestControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptControl</servlet-name>
        <url-pattern>/AcceptControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadMultiPart</servlet-name>
        <url-pattern>/UploadMultiPart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminControl</servlet-name>
        <url-pattern>/AdminControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordControl</servlet-name>
        <url-pattern>/PasswordControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadRequest</servlet-name>
        <url-pattern>/UploadRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControl</servlet-name>
        <url-pattern>/SearchControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceivedControl</servlet-name>
        <url-pattern>/ReceivedControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailReceived</servlet-name>
        <url-pattern>/DetailReceived</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DenyControl</servlet-name>
        <url-pattern>/DenyControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyRequest</servlet-name>
        <url-pattern>/MyRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRequest</servlet-name>
        <url-pattern>/DeleteRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRequest</servlet-name>
        <url-pattern>/EditRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyClass</servlet-name>
        <url-pattern>/VerifyClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassControl</servlet-name>
        <url-pattern>/ClassControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndClass</servlet-name>
        <url-pattern>/EndClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEndClass</servlet-name>
        <url-pattern>/VerifyEndClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadClasses</servlet-name>
        <url-pattern>/LoadClasses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAccount</servlet-name>
        <url-pattern>/LoadAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailAccount</servlet-name>
        <url-pattern>/DetailAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassDetail</servlet-name>
        <url-pattern>/ClassDetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
